* {
  margin: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

header p {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
}

header img {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

form {
  display: flex;
  flex-direction: column;
}

#copyright-privacy {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(9, 12, 155, 60%);
  padding-bottom: 2%;
}

#social-h3 {
  padding-top: 7vh;
}

#footer-social {
  display: flex;
  flex-direction: column;
  margin-top: -10%;
  padding-bottom: 15%;
}

#footer-social a {
  padding-bottom: 21%;
}

#footer {
  height: 40vh;
  align-items: center;
  background-color: rgba(9, 12, 155, 60%);
  /* margin-top: 10%; */
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

footer h4 {
  font-weight: 100;
}

footer a {
  color: white;
  font-size: medium;
}

#company-name {
  display: flex;
}

#company-align {
  display: flex;
  justify-content: center;
}

#company-people {
  width: 50vw;
  height: 20vh;
  color: white;
  background-color: rgba(9, 12, 155, 20%);
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.people-align {
  display: flex;
  flex-direction: column;
}

#slogan {
  background: -webkit-linear-gradient(#3066BE 45%, #97B2DF 50%, #ffffff 200%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
}

.footer-travel {
  padding-top: 1%;
}

.footer-section h3 {
  color: white;
}

.footer-more {
  padding-top: 2%;
}

.image-space {
  padding: 4%;
  margin-bottom: 10%;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 3%;
  column-gap: 8%;
}

#travel-form-align {
  display: flex;
  justify-content: center;
}

#start-location {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#search-button {
  font-size: xx-large !important;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: linear-gradient(#3066BE, #B4C5E4);
  border-style: none;
}

#travel-form i {
  display: flex;
  align-items: center;
  position: relative;
  left: 4%;
  margin-left: -3%;
}

#travel-form {
  display: flex;
  flex-direction: row;
  height: 12vh;
  width: 80vw;
}

#travel-form input {
  width: 100%;
  text-align: center;
  font-size: x-large;
}

.image-grid img {
  max-width: 100%;
  height: auto;
}

.about-h3-align {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#about-us-align {
  display: flex;
  justify-content: center;
  text-align: center;
}

#about-h {
  font-size: 250%;
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 5%;
}

#about-h p {
  width: 30%;
}

#about-h H1 {
  width: 30%;
}

.about-h3 {
  width: 71%;
  padding-bottom: 3%;
}

#about-logo {
  width: 20%;
  height: 20%;
}

#about-logo-align {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

#about-us-info {
  color: white;
  width: 50vw;
  height: 80%;
  background-color: rgba(9, 12, 155, 10%);
}

#background {
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.white-color {
  color: white;
}

.company-color {
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #97B2DF;
  font-weight: 1000;
  font-style: italic;
}


#company-tekst {
  display: flex;
  flex-direction: column;
  align-self: center;
}

header {
  position: relative;
  width: 100%;
  height: 22vh;
  background-color: rgba(9, 12, 155, 30%);
}

#admin-align {
  display: flex;
  justify-content: center;
}

#admin-square {
  margin-top: 15vh;
  margin-bottom: 15vh;
  z-index: 1;
  border-radius: 20px;
  background: linear-gradient(#3066BE, #B4C5E4);
  padding: 2%;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#admin-top-buttons {
  display: flex;
  align-self: center;
  position: absolute;
  top: 30%;
}

#admin-square h1, h2 {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  color: white;
}

.admin-left h2 {
  text-indent: 5%;
}

.admin-left {
  display: flex;
  justify-content: center;
}

.admin-left input, select {
  width: 20vw;
  height: 5vh;
  margin: 5%;
}

.admin-button h5 {
  color: black;
}

.admin-button {
  padding: 0px 10pt;
  background-color: #ffffff;
  border-radius: 10px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7vw;
}

.admin-button:hover {
  background-color: #97B2DF;
}

.account-password {
  background-color: #ffffff;
  border-radius: 10px;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  font-size: 50%;
}

.flex-center {
  display: flex;
  justify-content: center;
}

#more {
  background: -webkit-linear-gradient(#3066BE, #97B2DF, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: end;
  font-size: 150%;
  padding-right: 4%;
  height: 10%;
}

nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.nav-buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

a {
  font-size: 30px;
  margin: 0 20px;
}

.nav-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 130px;
}